.container {
  width: 1100px;
  margin: auto;
}

@media (width < 1000px) {
  .container {
    width: 100%;
    margin: auto;
    padding-inline: 1rem;
  }
}

.logo {
  padding-block: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.panel-text {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
@media (width < 1000px) {
  .panel-text {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  & img{
    width: 100%;
  }
}
}

#main-panel {
  border: 1px solid var(--azul-royal);
  border-radius: 2rem;
  background-color: #14458027;
  width: 550px;
  padding-inline: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .modo {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font: var(--Paragraph);
    padding: 1.5rem;
    & button {
      padding: 0.5rem;
      background: none;
      border: none;
      color: #ffffff;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    & button:hover {
      background: var(--azul-royal);
    }
  }

  & #panel-hour {
    & span {
      font: 800 112px var(--font-family);
    }
  }
  .toggle-musictext {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-self: center;
    font: var(--Paragraph);
  }
}

@media (width < 1000px) {
  #main-panel {
    border: 1px solid var(--azul-royal);
    border-radius: 2rem;
    background-color: #14458027;
    width: 100%;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;

    & .modo {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      font: var(--Paragraph);
      padding: 1.5rem;
      & button {
        padding: 0.5rem;
        background: none;
        border: none;
        color: #ffffff;
        border-radius: 0.5rem;
        cursor: pointer;
      }
      & button:hover {
        background: var(--azul-royal);
      }
    }

    & #panel-hour {
      & span {
        font: var(--Heading-large);
      }
    }
  }
}
