#section-tasks {
  width: 550px;
  padding-block: 2rem;
  & .header-task {
    display: flex;
    justify-content: space-between;
    font: var(--Heading-small);
    & img {
      width: 1.5rem;
      cursor: pointer;
    }
  }

  & .list-task {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    & li {
      display: flex;
      justify-content: space-between;
      font: var(--Paragraph);
      background-color: #ffffff9a;
      border-radius: 0.5rem;
      padding: 1.25rem 1rem;
      & img {
        width: 1.25rem;
        cursor: pointer;
      }
      & div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
    & .task-completed {
      background-color: #00f4bf9a;
    }
  }

  & .add-task {
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    background-color: #ffffff9a;
    border-radius: 0.5rem;
    padding: 1.25rem 1rem;
    margin-bottom: 3rem;
    & span {
      font: normal 26px/1.2 var(--font-family);
      color: #000;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
    & textarea {
      background-color: #98a0a8;
      border-radius: 0.5rem;
      padding: 1rem;
      font: var(--Paragraph);
      &::placeholder {
        font: var(--Paragraph);
      }
    }
    & .button-task {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
      & div {
        display: flex;
        gap: .5rem;
      }
      & img {
        width: 1rem;
      }
    }
  }
}
@media (width < 1000px) {
  #section-tasks {
    width: 100%;
  }
  & .header-task {
    justify-self: center;
    & img {
      display: none;
    }
  }
}
